<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ardrawing.tracedrawing.drawingsketch.drawingapps">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.drawingapps.tracedrawing.drawingsketch.drawingapps.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AmazicAdsLibrary"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.drawingapps.tracedrawing.drawingsketch.drawingapps.MainActivity4"
            android:exported="false" />
        <activity
            android:name="com.drawingapps.tracedrawing.drawingsketch.drawingapps.ResumeActivity"
            android:exported="false" />
        <activity android:name="com.drawingapps.tracedrawing.drawingsketch.drawingapps.MainActivity3" />
        <activity
            android:name="com.drawingapps.tracedrawing.drawingsketch.drawingapps.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.drawingapps.tracedrawing.drawingsketch.drawingapps.MainActivity2" />
        <activity android:name="com.drawingapps.tracedrawing.drawingsketch.drawingapps.MainManagerActivity" />
        <activity android:name="com.drawingapps.tracedrawing.drawingsketch.drawingapps.MainActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4973559944609228~2346710863" />
        <meta-data
            android:name="applovin.sdk.key"
            android:value="VVIqwEtdXn9RkPMcoBv0GOvmmCmvwb5aLGm6m0sqH9v8fT_Xtlz75dNvLvWWV4c7pBiUk6Z1cxfISWgVTgbzIo" />
    </application>

</manifest>